@font-face {
  font-family: "iconfont"; /* Project id 2373406 */
  src: url("iconfont.woff2?t=1659366162355") format("woff2"),
    url("iconfont.woff?t=1659366162355") format("woff"),
    url("iconfont.ttf?t=1659366162355") format("truetype");
}

@font-face {
  font-family: "iconfont";
  src: url("iconfont2.woff2?t=1678684663135") format("woff2"),
    url("iconfont2.woff?t=1678684663135") format("woff"),
    url("iconfont2.ttf?t=1678684663135") format("truetype");
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont3.ttf?t=1681721146198") format("truetype");
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont4.ttf?t=1681800110333") format("truetype");
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont5.woff2?t=1682428465144") format("woff2"),
    url("iconfont5.woff?t=1682428465144") format("woff"),
    url("iconfont5.ttf?t=1682428465144") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-comma:before {
  content: "\e600";
}
.icon-guanbi:before {
  content: "\eca0";
}

.icon-zuhe:before {
  content: "\e647";
}

.icon-biaoge:before {
  content: "\e639";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shangyi:before {
  content: "\e7b5";
}

.icon-xiayi:before {
  content: "\e7b6";
}

.icon-kongwujiaoxing:before {
  content: "\e62d";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\eb99";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-ziyouquxian:before {
  content: "\edfa";
}

.icon-zhixian:before {
  content: "\ee43";
}

.icon-xiangyouxuanzhuan:before {
  content: "\e66a";
}

.icon-tupian:before {
  content: "\e616";
}

.icon-suo:before {
  content: "\e672";
}

.icon-juxing:before {
  content: "\e790";
}

.icon-wenben:before {
  content: "\e652";
}

.icon-dengyu:before {
  content: "\e61b";
}

.icon-sigma:before {
  content: "\e6b2";
}

.icon-epsilonsl:before {
  content: "\e626";
}

.icon-phi:before {
  content: "\e630";
}

.icon-leftbrace:before {
  content: "\e75c";
}

.icon-rightbrace:before {
  content: "\e75b";
}
.icon-rightArrow:before {
  content: "\e659";
}
